[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "*"
django = "2.0.*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
twine = "*" 

[dev-packages]

pytest = "*"
django = "2.0.*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
twine = "*" 
